[Unit]
Description=BussDCC System
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/bussdcc-system
ExecStart=/home/ubuntu/bussdcc-system/.venv/bin/bussdcc-system run --quiet --web --web-host 0.0.0.0

Restart=always
RestartSec=3

KillSignal=SIGTERM
TimeoutStopSec=30
KillMode=process
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
